---
import Layout from "../layouts/main.astro";
import Hero from "@/components/sections/Hero";
import Services from "@/components/sections/Services";
import CompanyIdentity from "@/components/sections/CompanyIdentity";
import WhyChooseUs from "@/components/sections/WhyChooseUs";
import FAQ from "@/components/sections/FAQ";
import ParallaxWrapper from "@/components/ParallaxWrapper";
import { Toaster } from "@workspace/ui/components/sonner";

---

<Layout title="Global Square - Connecting Opportunities, Harvesting Success">
  <main class="overflow-hidden">
    <section>
      <Hero />
    </section>
  
    <ParallaxWrapper animationType="fade-up" delay={100} client:visible>
      <Services  />
    </ParallaxWrapper>
  
    <ParallaxWrapper animationType="fade-up" delay={200} client:visible>
      <CompanyIdentity />
    </ParallaxWrapper>

    <ParallaxWrapper animationType="fade-up" delay={300} client:visible>
      <WhyChooseUs />
    </ParallaxWrapper>
  
    <ParallaxWrapper animationType="fade-up" delay={400} client:visible>
      <FAQ client:visible/>
    </ParallaxWrapper>

    <Toaster client:load richColors />
    </main>
</Layout>
