---
import Layout from "../layouts/main.astro";
import Hero from "@/components/sections/Hero";
import Services from "@/components/sections/Services";
import CompanyIdentity from "@/components/sections/CompanyIdentity";
import WhyChooseUs from "@/components/sections/WhyChooseUs";
import FAQ from "@/components/sections/FAQ";
---

<Layout title="Global Square - Digital Innovation Agency">
  <main class="overflow-hidden">
    <Hero client:load />
    <Services />
    <CompanyIdentity />
    <WhyChooseUs />
    <FAQ client:load />
  </main>
</Layout>
